:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /*       */


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login{
  background-color: #1e293b;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  margin: 90px;
;
}
.heading{
  color:#e2e8f0;
}
.link{
  text-decoration: none;
  color: rgb(26, 189, 99);
  font-size: medium;
  font-weight: bold;
  margin: -4px;
  width: 150px;

}
.link:hover{
  background-color:#0f172a;
  border-radius: 4px;
 
}
.inputs{
  border-radius: 3px;
  box-shadow: 3px gray;
  width: 30%;
  height: 20px;
  margin: -10px;
  
}
.inputs:focus{
  outline: none;
  box-shadow: none;

}
.button{
  cursor: pointer;
  width: 100px;
  font-size: medium;
  font-family: sans-serif;
background-color: #10b981;
color: white; 
}
.button:focus{
outline: none;
box-shadow: none;
}
.next{
  font-family: sans-serif;
  font-size: 24px;
  margin: -10pxpx;
}
.next2{
  font-family: sans-serif;
  font-size: 24px;
  margin: -10px;
}
.button2{
  cursor: pointer;
  width: 150px;
  font-size: medium;
  font-family: sans-serif;
background-color: #10b981;
color: white;
margin: 10px;
}
.button2:focus{
outline: none;
box-shadow: none;
}
.stopwatch{
  position: fixed;
  top: 0px;
  background-color: #0f172a;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  width: 25%;

}

.profile{
  background-color: black;
}
.mainbg{
  background-color: #0f172a;  

}
.restart{
  background-color: #10b981;
  padding: 5px;
  margin: 7px;
  cursor: pointer;
   border-radius: 30px;
   font-size: 20px;
}
.start{
  background-color:green;
  padding: 7px;
  margin: 7px;
   cursor: pointer;
   border-radius: 30px;
   font-size: 20px;
}
.stop{
  background-color:red;
  padding: 7px;
  margin: 7px;
  cursor: pointer;
   border-radius: 30px;
   font-size: 20px;
}
.format{
  font-size: 34px;
}
.rightbar{
position: fixed;
right: 0px;
top: 0px;
width: 25%;
height: 100%;
background-color:rgb(65, 61, 61);
align-items: center;
}
.todo{
  position: fixed;
  top: 220px;
  right: 0px;
  background-color: #0f172a;
  border-radius: 10px;
padding: -10px;
  font-family: sans-serif;
  font-weight: bold;
  width: 25%;
}
.heading1{
  padding-top: -11px;
}
.add{
  padding-top: -7px;

}